<!DOCTYPE html>
<html>
    <head>
        <title>The Business Company</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta charset="UTF-8" />
        <script
         src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <script src="../model/businessElement.js"></script>
        <script src="../view/main.js"></script>
        <style>@import url('https://fonts.googleapis.com/css?family=Open+Sans');</style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/homePage.css">

    </head>

    <body>
        <div class="out-background">
            <div class="in-background">

                <div class="banner">
                    <p class="the">the</p>
                    <p class="floor">FLOOR</p>
                    <div class="plus-container">
                        <p class="plus-sign">+</p>
                    </div>
                </div>

                <div class="navBar-banner">
                    <div>
                        <i class="fa fa-chevron-left"></i>
                        <i class="fa fa-chevron-right"></i>  
                    </div>
                </div>

                <div class="clear"></div>

                <div class="logoContainer">
                    <div class="company-logo">THE BUSINESS COMPANY</div>
                    <div class="logo-shadow">a</div>

                </div>

                <div id="bigButtonsContentId">
                    <!-- big buttons content -->
                </div>

                <div id="smallButtonsContentId">

                </div>

                <div id="viewMoreId">
                    <p >View more</p>
                </div>

            </div>
       </div> 
    </body>
</html>