<!DOCTYPE html>
<html>
    <head>
        <title>The Business Company</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta charset="UTF-8" />
        <script
         src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <script src="../model/businessElement.js"></script>
        <script src="../view/main.js"></script>
        <style>@import url('https://fonts.googleapis.com/css?family=Open+Sans');</style>
        <link rel="icon" href="../assets/pictures/logo.png" type="image/gif" sizes="16x16">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/homePage.css">

    </head>

    <body>
        <div class="out-background">
            <div class="in-background">
                <!-- login bar-->
               
                <!-- banner -->
                <div class="banner">
                        <div class="form">
                                <p>
                                    <i class="fa fa-chevron-right"></i> 
                                    <a href="#">Login</a> or
                                    <a href="#">Register</a> to enjoy all benefitst of our site!
                                </p>
                            </div>
                    <p class="the">the</p>
                    <p class="floor">FLOOR</p>
                    <div class="plus-container">
                        <p class="plus-sign">+</p>
                    </div>
                </div>
                <!-- nav under banner -->
                <div class="navBar-banner">
                    <div>
                        <i class="fa fa-chevron-left"></i>
                        <i class="fa fa-chevron-right"></i>  
                    </div>
                </div>

                <div class="clear"></div>
                <!-- logo -->
                <div class="logoContainer">
                    <div class="logo-shadow"></div>
                    <div class="company-logo">THE BUSINESS COMPANY</div>
                </div>

                <div id="bigButtonsContentId">
                    <!-- big buttons content -->
                </div>

                <div id="smallButtonsContentId">
                    <!-- small buttons content -->
                </div>

                <button id="viewMoreId">VIEW MORE</button>

                <div id="articleContainerId">
                    <div id="leftTopTriangle"></div>

                    <div id="rightBottomTriangle">
                        <div class="readArticleContainer">
                            <div id="readArticleId"><i class="fa fa-chevron-right"></i>READ ARTICLE</div>
                        </div>
                    </div>

                    <p id="articleTitleId">Article about one client</p>

                    <article>
                        <section id="articleImg"><img src="https://dawsonhinds.com/wp-content/uploads/2017/02/img-temp-7.jpg"></section>
                        <section id="articleInfo"></section>
                        <div class="clear"></div>
                        <section id="articleLeftIcon">
                            <i class="fa fa-chevron-left"></i>
                        </section>
                        <section id="articleRightIcon">
                            <i class="fa fa-chevron-right"></i>  
                        </section>
                    </article>
                    
                </div>
                

            </div>
       </div> 
    </body>
</html>