*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    background-image: url("../pictures/white-blurred-background_1034-249.jpg");
    background-size: cover;
    overflow-x: hidden;
}

.in-background {
    width: 980px;
    height: 1161px;
    background-color: #eff1f1;
    top: 0%;
    margin: 0 auto;
}

/* Making the banner */

.banner {
    background-image: url("https://static.wixstatic.com/media/a68d1a_f559204770d34c829dc53a0d6cfd6717.png");
    width: 920px;
    height: 400px; 
    background-position: center;
    background-size: cover;
    margin-left: 30px;
    margin-top: 0px;
    position: relative;
}

.the {
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 16px;
    color: #ffffff;
    position: absolute;
    margin-top: 9%;
    margin-left: 19%;
}

.plus-container {
    width: 38px;
    height: 32px;
    background-color: #53b8c4;
    position: absolute;
    margin-top: 11em;
    margin-left: 27%;
}

.plus-sign {
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 16px;
    color: #ffffff;
    position: absolute;
    margin-top: 18%; 
    margin-left: 20%; 
    cursor: pointer;
}

.floor {
    font-size: 65px;
    letter-spacing: 1px;
    line-height: 16px;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    margin-top: 14%;
    margin-left: 3%;
}

/* Making the login bar */
.loginBar{
    width: 363px;
    height: 41px;
    margin-left: 46.5em;
    background: rgba(220, 223, 220, 0.801);
    
}

.loginBar p {
    position: absolute;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 16px;
    font-family: "Arial";
    font-weight: bold;
    padding-left: 2em;
}

.loginBar p a{
    color: #ffffff;
    text-decoration: none;
}

/* login form */
.form {
    
    width: 364px;
    height: 113px;
    background-color: #ffffff;
    margin-left: 46.4em;
    margin-top: 0.1em;
}

/* lock simbol */
.fa-lock {
    color: #53b8c4;
    font-size: 60px;
    display: inline-block;
    margin-top: 0.4em;
    margin-left: 0.5em;
}

/* animation on lock */
.fa-lock:hover {
    animation-name: lockSlide;
    animation-duration: 1s;
}

@keyframes lockSlide {
    0%   {margin-left: 0.4em}
    25%  {margin-left: 0.2em}
    50%  {margin-left: 0.6em}
    100% {margin-left: 0.5em}
  }

/* the two inputs */
.form-group {
    margin-top: -5em;
    margin-left: 7em;
}

.form-input {
    padding: 2px; 
    
}

.form-input input{
    width: 200px;
    height: 25px;
    background-color: #cccccc;
    padding: 10px;
    border: 1px solid #cccccc;
    color:#ffffff;
}

::placeholder { 
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #ffffff;
    font-family: "Arial";
    font-weight: bold;
}

/* Go button */
.buttonContainer {
    cursor: pointer;
    margin-top: -4.8em;
    margin-left: 24.3em;
}

.goButton {
    display: inline-block;
    width: 61px;
    height: 55px;
    background-color: #53b8c4;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #ffffff;
    font-family: "Arial";
    font-weight: bold;
    border: 1px solid #53b8c4;
    transition: color 1s ease-out;
}

.goButton:hover{
    background-color: #050e13;
}

#iconButtonForm:hover{
    color: #ffffff;
}

/* Making the navBar */
.navBar-banner {
    width: 920px;
    height: 41px;
    background-color: #53b8c4;
    margin-left: 30px;
    position: relative;
}

.navBar-banner div{
    float: right;
    margin-right: 2%;
    font-size: 28px;
    
}

.fa-chevron-left, .fa-chevron-right {
    color: white;
    padding: 1px;
    cursor: pointer;
    margin-top: 0.2em;
}

.clear{
    clear: both;
}

/* Making the LOGO */
.company-logo {
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 16px;
    color: #53b8c4;
    position: relative;
    z-index: 1;
    margin-top: 10%;
    text-align: center;
}

.logo-shadow {
    box-shadow: 1.5px 2.598px 24px rgba(0,0,0,0.3);
    background-color: #050e13;
    width: 282px;
    height: 56px;
    position: absolute;
    margin-left: 20.2em;
    margin-top: -1.5em;
}

/* enter logo animation */
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
.logoContainer {  
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

/* Making big buttons */
#bigButtonsContentId {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 7%;
}

.businessElementContainer {
    flex-basis: 44%;
    margin-right: 17px;
}

/* number */
.businessNumber {
    width: 115px;
    height: 112px;
    background-color: #53b8c4;
    font-size: 48px;
    letter-spacing: 1px;
    line-height: 110px;
    color: #ffffff;
    text-align: center;
    margin-left: 2px;
}

/* title */
.businessTitle {
    width: 335px;
    height: 112px;
    background-color: #ffffff;
    float: right;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 80px;
    color: #666666;
    margin-top: -26%;
    margin-right: -4.8%;
    text-align: center;
    /* vertical-align: text-top; */
}

/* description */
.hiddenBusinessDescription {
    display: none;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #999999;
    font-family: "Arial";
    float: right;
    margin-left: 33%;
    margin-top: -4%;
    margin-bottom: 10%;
}

/* .shownBusinessDescription {
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #999999;
    font-family: "Arial";
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
} */

/* plus and minus sign */
.bigPlusClass, .bigMinusClass {
    position: absolute;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 16px;
    color: #53b8c4;
    margin-left: 31%;
    margin-top: -5.7%;
    cursor: pointer;
}

.bigMinusClass {
    display: none;
}

/* Making small buttons */
#smallButtonsContentId {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.smallElementsContainer {
    flex-basis: 25%;
}

.blueBarClass{
    width: 168px;
    height: 3px;
    background-color: #53b8c4;
    margin-left: 15%;
}


/* title */
.smallTitleClass {
    font-size: 25px;
    letter-spacing: 0px;
    color: #666666;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    margin-bottom: -4px;
    margin-left: 14%;
}

/* plus and minus sign */
.smallPlusClass, .smallMinusClass{
    position: absolute;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    width: 38px;
    height: 37px;
    background-color: #53b8c4;
}

.smallPlusClass {
    margin-left: 12.35%;
    margin-top: -2.8%;
}

.smallMinusClass {
    display: none;
    line-height: 30px;
    margin-left: 2.4%;
    margin-top: 0.9%;
}

/* chainging color animation */
.smallPlusClass, .smallMinusClass, .bigPlusClass, .bigMinusClass, .plus-sign, .fa-chevron-left, 
.fa-chevron-right,.loginBar p a{
    transition: color 1s ease-out;
}

.smallPlusClass:hover, .smallMinusClass:hover, .bigPlusClass:hover, .bigMinusClass:hover, .plus-sign:hover,
.fa-chevron-left:hover, .fa-chevron-right:hover, .loginBar p a:hover {
    color: #050e13;
}



/* information */
.smallDescriptionBackground {
    display: none;
    width: 168px;
    height: 205px;
    box-shadow: 5px 8.66px 16px rgba(0,0,0,0.28);
    background-color: #53b8c4;
    margin-left: 36px;
}

.smallDescriptionClass {
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #ffffff;
    font-family: "Arial";

    overflow: hidden;
    position: relative; 
    max-height: 11.5em;
    max-width: 15em;

    padding: 1em;
}

/* create the ... */
.smallDescriptionClass:before {
    content: '...';
    position: absolute;
    right: 39px;
    bottom: -2px;
}
  
.smallDescriptionClass:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

/* view more  */
#viewMoreId {
    display: block;
    width: 142px;
    height: 18px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #53b8c4;
    font-family: "Arial";
    padding: 0;
    border: none;
    border-bottom: 1px solid #53b8c4;
    background: none;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 5%; 
    -webkit-transition: width 2s, height 4s; 
    transition: width 1s, height 4s;
}

#viewMoreId:hover {
    width: 200px;
}

/* bottom article */
#articleContainerId{
    width: 910px;
    height: 184px;
    background-color: #ffffff;
    margin-top: 1.7%;
    margin-left: 34px;
}

/* article about one client */
#articleTitleId {
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #666666;
    margin-top: -17%;
    margin-left: 7%;
}


#articleContainerId section {
    float: left;
}

/* information about client */
#articleInfo {
    overflow: hidden;
    position: relative; 
    max-height: 6.6em;
    margin-right: -1em;
    padding-right: 1em;
    width: 525px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #666666;
    font-family: "Arial";
}

/* create the ... */
#articleInfo:before {
    content: '...';
    position: absolute;
    right: 23px;
    bottom: -1px;
}
  
#articleInfo:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
}

/* img */
#articleContainerId article section img {
    width: 180px; 
    height: 100px;
    margin-left: 3em;
    margin-top: -0.5em;
    margin-right: 1em;
}


/* triangles */
#leftTopTriangle {
    width: 67px;
    height: 65px;
    border-top: 65px solid #53b8c4;
    border-right: 65px solid #ffffff;;
}

#rightBottomTriangle{
    width: 154px;
    height: 154px;
    border-bottom: 154px solid #53b8c4;
    border-left: 154px solid #ffffff;
    margin-top: -3.9%;
    margin-left: 83.2%;
}

/* read article */
.readArticleContainer{
    position: absolute;
    margin-left: -10.5em;
    margin-top: 9.5em;
    border-bottom: 1px solid #53b8c4;
    padding-bottom: 0.5em;
    transition: border-bottom 0.3s ease-in-out;
    cursor: pointer;
}

.readArticleContainer:hover{
    border-bottom: 1px solid #ffffff;
}

#readArticleId{
    width: 120px;
    height: 19px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 16px;
    color: #ffffff;
    font-family: "Arial";
}

#readArticleId .fa-chevron-right {
    padding: 10px;
}

/* article next and prev icon */
#articleLeftIcon, #articleRightIcon {
    width: 49px;
    height: 41px;
    background-color: #53b8c4;
    margin-top: 0.3em;
    margin-right: 0.1em;
    text-align: center;
    font-size: 28px;
}

#articleLeftIcon .fa-chevron-left {
    margin-top: 0.2em;
}

